a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

a.link:hover {
  text-decoration: underline #FFB920 3px;
}

.button {
  background-color: #58587A;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
}

.button:hover, .button:focus, .button:active, .button:link {
  outline: #ffb920 solid 2px;
  background-color: #58587ace;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 720px;
  margin: 0px auto;
  padding: 50px 20px;
}