<div class="posts_index">
  <div>
    <div>
      <% if user_signed_in? %>
        <span>Hi there,</span>
        <span><%= current_user.name %></span>
      </div>
      <div>
        <button>+ New Post</button>
      </div>
    <% else %>
      <p>Sign In to create posts like these and view their owners.</p>
    <% end %>
  </div>
  <div>
    <% @posts.each do |post| %>
      <div>
        <p><%= post.text %></p>
        <h3>Author: <%= user_signed_in? ? post.user.name : 'Anonymous User' %> </h3>
        <h3>Created at: <%= post.created_at %></h3>
      </div>
    <% end %>
  </div>
</div>
